<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Add Book</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
      .icon {
      background-color: blue;
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 20px ;
      margin-top: 5px !important;
    }
      .previous {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        background-color: #f1f1f1;
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body class="container" style="margin-top: 20px">
    <div>
      <a href="/tablelist">
        <div class="icon"><i class="fas fa-home"></i>&nbsp; Home</div>
      </a>
      <a href="/login">
        <div class="icon" style="float: right; background-color:#A59B98;"> Logout &nbsp;<i class="fas fa-sign-out-alt"></i></div>
      </a>
    </div>
    <div>
      <a href="#" class="previous" type="button" onclick="history.back(-1)">&#8249; Previous</a>
    </div>
    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="card">
      <div class="card-header">Add <%= table_name %></div>
      <div class="card-body">
        <form action="/table/add" method="post">
          <input
            type="text"
            class="form-control"
            name="table_name"
            value="<%=table_name%>"
            hidden
          />
          <% for(var i = 0; i < table_properties.length; i++) { %>
          <div class="form-group">
            <label><%= table_properties[i] %>:</label>
            <input
              type="text"
              class="form-control"
              name="<%= table_properties[i]%>"
              value=""
              autocomplete="off"
            />
          </div>
          <% } %>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Add" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
